<div class="main">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1057651/pexels-photo-1057651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  <div class="container">
    <h1>BE THE FASTEST IN DELIVERING YOUR FOOD</h1>
  </div>
</div>

<div class="container py-5">
  <p class="pb-4">WHAT WE SERVE</p>
  <h2>YOUR FAVORITE FOOD DELICERY PARTNER</h2>

  <%= image_tag("Banner.jpg", class: "banner-img") %>
  <h1>CATEGORIES</h1>
  <div class="cards">
    <% @sections.each do |section| %>
      <%= link_to section_path(section), class:"text-decoration-none" do %>
      <div class="card">
        <%= cl_image_tag section.photo.key, crop: :fill,  class:"cards-img"%>
        <div class="card-body">
          <h5 class="card-title"><%= section.title %></h5>
        </div>

      </div>
      <% end %>
    <% end %>
  </div>
</div>
