
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  // background-image: url("../../images/banner.jpg") !important;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

h1 {
  font-family: 'Martel';
  text-align: center;
}

.services-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body {
	background-color: #ffffff;
  font-size: 1.2rem;
}

.container {
	padding: 2rem;
}

.slider-wrapper {
	margin: 50px;

}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
  width: 110px;
  height: 500px;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.login {
  // height: 100vh;
  padding: 10rem 20rem !important;


  .form_login {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    width: 680px!important;
    margin: auto;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 110px;
    padding-bottom: 110px;

    &.edit {
      border: 1px solid black;
    }
  }
}
