.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffd859;
  --bs-btn-border-color: #ffd859;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f9e7a9;
  --bs-btn-hover-border-color: #f9e7a9;
  --bs-btn-focus-shadow-rgb: 196, 107, 29;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f9e7a9;
  --bs-btn-active-border-color: #f9e7a9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffd859;
  --bs-btn-disabled-border-color: #ffd859;
}

.btn-search {
  --bs-btn-color: #000;
  --bs-btn-bg: #38c9b6;
  --bs-btn-border-color: #38c9b6;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #8cdbd0;
  --bs-btn-hover-border-color: #8cdbd0;
  --bs-btn-focus-shadow-rgb: 196, 107, 29;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #8cdbd0;
  --bs-btn-active-border-color: #8cdbd0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #38c9b6;
  --bs-btn-disabled-border-color: #38c9b6;
}

.btn-chat {
  --bs-btn-color: white;
  --bs-btn-bg: #EB5757;
  --bs-btn-border-color: #EB5757;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #ff8e8e;
  --bs-btn-hover-border-color: #ff8e8e;
  --bs-btn-focus-shadow-rgb: 196, 107, 29;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #ff8e8e;
  --bs-btn-active-border-color: #ff8e8e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: #EB5757;
  --bs-btn-disabled-border-color: #EB5757;
}

.btn-tag2 {
  background: #EB5757;
  font-size: 0.8em;
  padding: 6px 6px;
  border-radius: 25px;
  color: white;
  margin-right: 5px;
  width: 100px !important;
  border: none;
  margin-bottom: 10px;
  text-decoration: none;
}

.btn-tag2 a {
  text-decoration: none;
  color: white;
}

.btn-cart {
  text-decoration: none;
}

.btn-tag:hover {
  color:white;
  background-color: #ff8e8e;
}


.btn-devise {
  background-color: #38c9b6; /* Green */
  border: none;
  color: white;
  padding: 4px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-tag {
  background: #EB5757;
  font-size: 0.8em;
  padding: 6px 6px;
  border-radius: 25px;
  color: white;
  margin-right: 5px;
  width: 100px !important;
  border: none;
  margin-bottom: 10px;
  text-decoration: none;
}
