.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  background-color: white;
  padding: 10px;
}

.cards-img {
  border-radius: 25px;
  width: 100%;
  height: auto;
  background-color: #fcfaf4;
}

.card-body{
  text-align: center;
  background-color: #FFDE59;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.card{
  border-radius: 25px;
}

.cards-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  background-color: white;
  padding: 10px;
}
