.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 3.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2814, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link:hover {
  background-color: #EB5757 ;
  color: white;
  border-radius: 2px;
}

.nav-link {
  border-radius: 2px;
}

.nav-cart {
  text-align: center;
  text-decoration: none;
  font-family: system-ui;
  size: 20px;
  font-size: 17px;
  margin-top: -53px;
  margin-left: 4px;
  color: white;
}

.bigicon {
  color:white;
}

.mix{
  min-height:370px;
}

ul.dropdown-cart{
  min-width:320px;
  min-height: 50px;
  padding: 2px;
  margin: 7px;
  margin-top: 11px;
  padding-right: 50px;
  margin-bottom: 11xp;
}
ul.dropdown-cart li .item{
  display:block;
  padding:10px 10px;
  margin: 3px 0;
  border-bottom-style: dashed;
  border-bottom-color: #ffd859 !important;
}

ul.dropdown-cart li .item:hover{
  background-color:#e8e8e8;

}
ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left{
  float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float:left;
}
ul.dropdown-cart li .item-left span.item-info{
  margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}
ul.dropdown-cart li .item-right{
  float:right;
}
ul.dropdown-cart li .item-right button{
  margin-top:14px;
}

ul.dropdown-cart[data-bs-popper] {
  right: -106px;
  left: auto;
  top: 53px;
  border-radius: 5px;
  border-color: #ffd859;
  background-color: white;
  padding: 30px;
}
ul.dropdown-cart li .item {
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
  border-bottom: dashed;
  border-bottom-width: initial;
  border-bottom-style: dashed;
  border-bottom-color: initial;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
