p {
  text-align: center;
  font-family: "Poppins", sans-serif,;
  color: #EB5757 !important;
  font-size: 19px;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-weight: bold;
}
