<section class="pb-5 pt-0">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-5">
        <p class="homepage pb-4 fs-3">Contact Us</p>
        <p class=" ">Feel free to have send us an email for any enquiries,
                    as you might get an answer right away! </p>
        <p>If you still wish to speak with one of our team members directly, call us, we are here to help!</p>
        <p class=" mt-5">
          <strong>Email:</strong> contact@nou-ration.me
        </p>
        <p class=" ">
          <strong>Phone:</strong> +230 1234 5678
        </p>
      </div>
      <div class="col-12 col-md-6 ms-auto pt-5 pt-md-0">
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control"
                placeholder="First name">

            </div>
            <div class="col">
              <input type="text" class="form-control"
                placeholder="Last name">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <input type="email" class="form-control"
                placeholder="Enter email">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <input type="email" class="form-control"
                placeholder="Subject">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <textarea class="form-control border border-secondary"
                name="message" rows="3" placeholder="How can we help?"
                style="" spellcheck="false"></textarea>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  <div class="container-fluid p-0 pb-md-5 pt-4">
    <div style="width: 100%; height: 500px"
      data-controller="contact-map"
      data-contact-map-api-key-value="pk.eyJ1IjoidGVqYXNiMjkiLCJhIjoiY2xqanNnNWQ3MGgweTNncXFtaDdjejFleiJ9.LcW3898rl0xyWVww4koBLg"></div>
  </div>
  <grammarly-extension data-grammarly-shadow-root="true"
    style="position: absolute; top: 0px; left: 0px; pointer-events: none;"
    class="cGcvT"></grammarly-extension>
  </div>
</section>
